<meta http-equiv="refresh" content="4; url='/merchants'"/>
<% if @merchant_exists != false %>
<h2 id="merchant">Successfully added: <%= @merchant.name() %></h2>
<% else %>
<h2 id="merchant">That merchant already exists, and so has not been added to the list.</h2>
<% end %>