<div class="new-edit">
<h2>Edit an existing merchant:</h2>

<form action="/merchants/<%= @merchant.id %>" method="post">
  <label for="name">Merchant Name:</label>
  <input type="text" required="required" name="name" value="<%= @merchant.name() %>">

  <input type='submit' value="Update">
</form>
</div>