<h1>Create a new merchant:</h1>

<form action="/merchants" method="post">
  <label for="name">Merchant Name:</label>
  <input type="text" name="name">

  <input type='submit' value="Create new merchant">
</form>