<!DOCTYPE html>
<html>
<head>
  <title>Money Ca$hboard</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <nav>
    <a href="/merchants">Merchants</a>
    <a href="/tags">Tags</a>
    <a href="/transactions">Transactions</a>
    <a href="/analyses">Analysis</a>
  </nav>
  <%= yield %>
</body>
</html>