<!DOCTYPE html>
<html>
<head>
  <title>Money Cashboard</title>
</head>
<body>
<a href="/merchants">Merchants</a>
<a href="/transactions">Transactions</a>
<a href="/tags">Tags</a>
<%= yield %>
</body>
</html>