<!DOCTYPE html>
<html>
<head>
  <title>Money Ca$hboard</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <div class="page-wrap">
  <div class="header">
  <header>
    <span class="logo">
      <img src="/cube-logo.jpg">
    </span>
    <nav class="nav">
    <span class="title">Money Ca$hboard</span>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/analyses">Analysis</a></li>
      </ul>
    </nav>
  </header>
  </div>
  <div id="body"></div>
  <%= yield %>
  </div>

<!--   <footer id="footer">
    <nav class="nav bottom">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/analyses">Analysis</a></li>
      </ul>
      <small class="copy">&copy; Money Cashboard</small>
    </nav>
    
  </footer> -->
</body>
</html>