<meta http-equiv="refresh" content="4; url='/tags'"/>
<% if @tag_exists != false %>
<h2 id="tag">Successfully added: <%= @tag.name() %></h2>
<% else %>
<h2 id="tag">That tag already exists, and so has not been added to the list.</h2>
<% end %>