<h1>Edit an existing tag:</h1>

<form action="/tags/<%= @tag.id %>" method="post">
  <label for="name">Tag Name:</label>
  <input type="text" name="name" value="<%= @tag.name() %>">

  <input type='submit' value="Update">
</form>