<div class="new-edit">
<h2>Edit an existing tag:</h2>

<form action="/tags/<%= @tag.id %>" method="post">
  <label for="name">Tag Name:</label>
  <input type="text" name="name" value="<%= @tag.name() %>">

  <input type='submit' value="Update">
</form>
</div>