<table class="table-centre" id="tag-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tag</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.id %></td>
    <td><%= tag.name %></td>
    <td><a href="/tags/<%= tag.id %>">View</a></td>
  </tr>
  <% end %>
</tbody>

<br><br>
<div><a id="add-tag" href="/tags/new">Add new tag</a><div>
<br><br>