<h1>Create a new tag:</h1>

<form action="/tag" method="post">
<!--   <label for="first_name">First Name:</label>
  <input type="text" name="first_name">
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name">

  <input type='submit' value="Order Pizza"> -->
</form>

<!-- <label for="topping">Select a pizza:</label>
<select name="topping">
  <option value="Margherita">Margherita</option>
  <option value="Calzone">Calzone</option>
</select>

<label for="quantity">Quantity:</label>
<input type="number" name="quantity"> -->