<meta http-equiv="refresh" content="8; url='/analyses'"/>
<h2 id="analysis">Successfully downloaded JSON file.<br><br>Please look for the transactions.json file in your current working directory.</h2>