<h2>Filter transactions by tag:</h2>

<form action="/analyses" method="post">
  <label for="total_by_tag">Total by tag:</label>
  <select name="total_by_tag">
  <% @transactions.each do |transaction| %>
    <option value="<%= transaction.tag_id %>"><%= transaction.tag.name %></option>
  <% end %>
  </select>

  <input type='submit' value="Search by tag">
</form>