<meta http-equiv="refresh" content="5; url='/transactions'"/>
<h2 id="transaction">Successfully added a transaction from <%= @transaction.merchant.name() %> with the tag <%= @transaction.tag.name() %></h2>