<div class="new-edit">
  <h2>Create a new transaction:</h2>

  <form action="/transactions" method="post">
    <label for="merchant_id">Merchant:</label>
    <select name="merchant_id">
      <% @merchants.each do |merchant| %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>

    <label for="tag_id">Tag:</label>
    <select name="tag_id">
      <% @tags.each do |tag| %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>

    <label for="value">Value (£):</label>
    <input type="number" min="0.01" step="0.01" name="value" placeholder='0.00' required>

    <label for="transaction_date">Date:</label>
    <input type="date" name="transaction_date" min="2010-01-01" required>

    <br>
    <label for="description">Description:</label>
    <input type="text" required="required" size="80" maxlength="255" name="description">

    <br><br><br>
    <input type='submit' value="Create new transaction">

  </form>

  <br><br>
  <a href="/transactions">Back</a>
</div>