<table class="table-centre" id="transaction-table">
  <thead>
    <tr>
      <th id="centre-id" scope="col">ID</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

  <tr>
    <td><%= @transaction.id() %></td>
    <td><a href="/transactions/<%= @transaction.id %>/edit">Edit</a></td>
    <td><form action="/transactions/<%= @transaction.id %>/delete" method="post">
      <input type="submit" value="Delete">
    </form></td>
  </tr>
</tbody>

<div><a id="back" href="/transactions">Back</a><div>